@import ../Vars

#articles-block
    position: absolute
    left: -9999px
    top: -9999px
    width: 100px

#articles
    #articles-block
        position: relative
        left: auto
        top: auto
        width: auto

    .post
        margin-bottom: 60px

        .title_page
            margin-bottom: 15px
        
        .date
            font-size: 0.9em
            margin-bottom: 14px
            color: $color_grey

        .intro
            margin-bottom: 20px
        
        .more
            font-size: 0.9em
        

        pre code
            color: $base_black
            display: block

        pre
            border: 1px solid $color_grey
            padding: 15px 15px 20px
            border-radius: 5px

        pre code
            overflow: auto
    
        &.single
            margin-bottom: 0