@import ../Vars
@import ./Nail

#contacts
    position: relative

    .email
        color: $color_red
        padding: 0
        margin: 0
        display: inline-block

        p
            display: inline-block
            margin: 0
            padding: 0

    .form
        position: relative

        textarea
            font-family: $font_family
            resize: none
            height: 160px
        
        input, textarea
            border: 1px solid $color_head4
            padding: 7px
            border-radius: 5px
            box-sizing: border-box
            width: 100%
            outline: none

            &:focus
                outline: none

            &:disabled
                background: $color_head3
        
        .box
            display: inline-block
            vertical-align: top
        
        .send button
            background: $base_black
            color: $base_white
            border: 0
            border-radius: 5px
            cursor: pointer
            padding: 7px
            display: inline-block
            outline: none
            position: relative
            min-width: 85px

            .timer
                position: absolute
                left: -9999px
                top: -9999px
                width: 80px
                height: 28px
                background: url('assets/808.gif') center center no-repeat

        &.max
            .box
                width: 50%
            
            .box2
                text-align: right
            
            textarea
                width: 97.5%
            
            input
                width: 97.5%
                margin-bottom: 1.4em

            .send
                display: inline-block
                width: 97.5%
                text-align: left
        
        &.min
            .box
                width: 100%
            
            input, textarea
                display: block
                margin-bottom: 1.4em
        
        &.def
            .box
                width: 100%
            
            textarea
                margin-bottom: 1.4em
            
            input, .send
                width: 33%
                display: inline-block
            
            .send
                display: inline

                div
                    text-align: right
        
        .response
            p
                margin: 0
                padding: 0 1em

            &.ok
                background: #eeffee
                padding: 1em 0
                margin-bottom: 1em
                border-radius: 5px
                border: 1px solid $color_green
                color: $color_green

            &.error
                background: #ffdddd
                padding: 1em 0
                margin-bottom: 1em
                border-radius: 5px
                border: 1px solid $color_red
                color: $color_red
    
        &.lock

            .send button
                color: $base_black

                .timer
                    left: 0
                    top: 0
