@import ../Vars

#main
    position: relative

#footer
    position: relative
    background: $color_head2

    .year
        position: absolute
        left: 0
        top: 6px
        font-size: 0.8em

    .up
        position: absolute
        left: 0
        bottom: 9999px
        width: 200px
        height: 35px
        cursor: pointer

        .text
            position: absolute
            left: 0
            top: 0
            width: 200px
            height: 35px
            line-height: 35px
            text-align: center

        &.show
            position: fixed
            bottom: -5px

#header
    position: absolute
    left: 0
    top: 0
    width: 100%
    background: $color_head1

    .logo
        position: absolute
    
    .menu
        position: absolute
        left: 0
        top: -3000px
        overflow: hidden

        .item
            display: inline-block
            line-height: 35px
            padding: 0 14px
            font-size: 1.2em
            color: $base_white
            cursor: pointer
            text-decoration: none

            &:hover
                color: $color_red

    .horizontal
        position: absolute
        height: 35px

        .item_box
            display: inline-block

    .vertical
        position: absolute
        right: 0
        background: $color_head2
        padding: 5px 0

        .item_box
            padding: 2px 5px

    .menu_button
        display: none
        position: absolute
        top: 31px
        width: 24px
        height: 23px
        background: url('assets/menu_button.png') left top no-repeat
        cursor: pointer
