#portfolio
    position: relative

    .gallery
        position: relative
        overflow-x: scroll

        .gallery_box
            position: relative
            display: flex
            flex-wrap: wrap
            cursor: -webkit-grab
            cursor: grab

            .item
                width: 230px
                height: 250px
            
                .image
                    display: block
                    margin-top: 15px
                    margin-left: 15px
                    width: 200px
                    height: 176px

                .text_box
                    text-align: center
                    margin-top: 15px

                .text
                    display: inline-block
                    cursor: text
                
                &.first
                    width: 215px

                    .image
                        margin-left: 0

                    .text_box
                        padding-right: 15px

                
                &.last
                    width: 215px

                    .text_box
                        padding-left: 15px
