@import ../Vars

#home
    position: relative

    .elevator
        position: relative
        overflow: hidden

        img
            position: absolute

    .text
        position: absolute
        left: 0
        top: 0
        padding-right: 26px
        padding-bottom: 26px

        .languages
            font-size: 1.7em
            margin-left: 0.6em

            .item
                margin-bottom: 0.3em

                .lang
                    .lang
                        display: inline-block
                        margin-left: 0.75em
                        font-size: 0.75em
