@import ../Vars

#demo
    position: relative

    .demos
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-content: space-between

        .item
            width: 30%
            margin-bottom: 1.6em

            a
                display: block
                text-decoration: none
                color: $base_black
                border: 1px solid $color_head4
                border-radius: 13px
                padding: 13px 16px

                .title
                    font-size: 1.15em
                    margin-bottom: 0.2em

                .description
                    font-size: 0.9em

                &:hover
                    background: $base_white

                    .title
                        color: $color_red
