@import Vars

.module
    padding-top: 2.5em
    padding-bottom: 2.5em

    &.even
        background: $color_head3

    .title_page
        margin-bottom: 0.8em
        color: $color_red
        font-size: 1.7em
