@import Vars

body
    position: relative
    padding: 0
    margin: 0
    background-color: $base_white
    font-family: $font_family
    color: $base_black

img
    border: 0

a
    color: $color_red

    &:hover
        text-decoration: none
    
    &:active
        outline: none

    &:focus
        outline: none

.nowrap
    white-space: nowrap
