body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 100%;
  height: 704px;
  background: #EEEEEE;
  overflow: hidden;
}
#main {
  width: 787px;
  height: 704px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -352px;
  margin-left: -393.5px;
}
#note_lines_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 704px;
}
#note_lines {
  position: absolute;
  left: 0;
  top: 0;
  width: 387px;
  height: 704px;
  background: url('background.png') left top no-repeat;
  overflow: hidden;
}
#note_lines .note_box {
  position: absolute;
  left: 0;
  top: 0;
}
#note_lines .note_box .lines {
  position: absolute;
  left: 0;
  top: -2000px;
  width: 72px;
  height: 704px;
  overflow: hidden;
}
#note_lines .note_box .lines .lines_fon {
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  height: 704px;
  background: url('lines.png') left top no-repeat;
}
#note_lines .note_box .lines .lines_fon.help {
  background: url('lines_help.png') left top no-repeat;
}
#note_lines .note_box .note {
  position: absolute;
  left: 0;
  top: -2000px;
  width: 72px;
  height: 28px;
  background: url('note.png') left top no-repeat;
}
#note_lines #note1 {
  left: 213px;
}
#note_lines #note2 {
  left: 387px;
}
#note_lines #background_help {
  position: absolute;
  left: 213px;
  top: 0;
  width: 72px;
  height: 704px;
  background: url('background_help.png') left top no-repeat;
  display: none;
}
#help_note {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 704px;
}
#help_note #octave {
  position: absolute;
  left: 2px;
  top: 300px;
  width: 11px;
  height: 104px;
  background: url('octave.png') left top no-repeat;
}
#help_note.off {
  display: none;
}
#control_elements {
  position: absolute;
  left: 387px;
  top: 0;
  width: 400px;
  height: 704px;
}
#control_elements ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#control_elements ul span {
  color: red;
}
#control_elements ul li {
  margin-bottom: 5px;
}
#control_elements ul .title {
  margin-bottom: 10px;
}
#control_elements #notes {
  position: absolute;
  left: 50px;
  top: 70px;
}
#control_elements #octaves {
  position: absolute;
  left: 200px;
  top: 70px;
}
#control_elements #response {
  position: absolute;
  left: 0;
  top: 340px;
  width: 400px;
  text-align: center;
  font-size: 1.2em;
}
#control_elements #input {
  position: absolute;
  left: 0;
  top: 400px;
  width: 400px;
  text-align: center;
}
#control_elements #input input {
  font-size: 1.2em;
  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  background: #EEEEEE;
}
#control_elements #input input:disabled {
  background: #EEEEEE;
}
#control_elements #message {
  position: absolute;
  left: 0;
  top: 480px;
  width: 400px;
  text-align: center;
  font-size: 1.5em;
}
#control_elements #message.ok {
  color: green;
}
#control_elements #message.error {
  color: red;
}
#control_elements #message.help {
  color: gray;
}
#control_elements #next {
  position: absolute;
  left: 0;
  top: 570px;
  width: 400px;
  text-align: center;
}
#control_elements #next .button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}
#control_elements #next .button span {
  color: red;
}
#control_elements #options {
  position: absolute;
  left: 0;
  top: 630px;
  width: 400px;
}
#control_elements #options .item {
  text-align: center;
  font-size: 0.9em;
}
#control_elements #options .item .text {
  text-decoration: underline;
  cursor: pointer;
}
#control_elements #options .item .text:hover {
  text-decoration: none;
}
